body {
   padding-top:30px;
   font-family: 'NanumSquare', sans-serif;
   margin-left: 40px;
}

a {
   color: inherit;
}

a:hover {
   text-decoration: none;
}

.Container {
   margin: 0;
   width: 1140px;
}

.Content {
   /* padding: 40px 60px;
   height: 100vh; */
   position: absolute;
   left: 25%;
   width: 70%;
   height: 100vh;
   /* padding-top: 30px; */
}

#tableWrapper {
   width: 85%;
   height: 415.550px;
   padding-top: 6px;
   padding-bottom: 30px;
}

#block {
   border: 1px solid rgba(189, 186, 186, 0.829);
   border-radius: 2%;
   min-height: 443.2px;
}

#tableWrapper table {
   width: 100%;
   border-collapse: collapse;
}

#tableWrapper table th {
   text-align: center;
   background-color: grey;
   height: 19.6px;
   padding: 15px;
   background-color: #001eff;
   color: white;
}

#tableWrapper table th:first-child {
   border-radius: 10px 0px 0px 0px;
}

#tableWrapper table th:last-child {
   border-radius: 0px 10px 0px 0px;
}

#tableWrapper table th:first-child {
   border-radius: 10px 0px 0px 0px;
}

#tableWrapper table th:last-child {
   border-radius: 0px 10px 0px 0px;
}

#tableWrapper table td {
   text-align: center;
   padding: 7px;
   max-height: 17px;
}

#pageArea {
   margin: 0 auto;
   position: relative;
}

.paging {
   /* margin-top: 10px; */
   margin-top: 40px;
   position: absolute;
   /* left: 45%; */
   left: 37%;
   /* margin-top: 10px; */
   margin-top: 40px;
   position: absolute;
   /* left: 45%; */
   left: 37%;
}

.paging>li {
   list-style: none;
   float: left;
   padding: 6px 1px;
}

.span {
   padding: 6px 12px;
   border: 1px solid lightgray;
}

#info, .paging>li :hover {
   text-decoration: none;
}

#keywordInput {
   display: inline;
}
.search {
margin-left:500px;
margin-bottom:5px;
}
#searchType {
   height: 24px;
}
li {
   list-style: none;
   float: left;
   padding: 6px;
}

.nav-item {
   font-size: 13px;
   padding: 0px;
   padding-left: 35px;
}

.navbar-light .navbar-nav .nav-link {
   margin: 0;
   padding: 5px;
}

#gomain {
   color: white;
   font-size: 12px;
   padding-top: 30px;
}

.nav-item {
   font-size: 13px;
   padding: 0px;
   padding-left: 35px;
}

.navbar-light .navbar-nav .nav-link {
   margin: 0;
   padding: 5px;
}

#gomain {
   color: white;
   font-size: 12px;
   padding-top: 30px;
}

#keywordInput {
   display: inline;
}
