	
*{
       font-family:   'NanumSquare', sans-serif !important;
   
}

.wrap {
   width: 100%;
   height: 2000px;
   position: relative;
   display:flex;
}

.sidebar {
   position: sticky;
   width: 300px;
   height: 100vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.sidebarContent{
      width: 300px;
   margin-left:100px;
   
   
}

.clubMainpic{
   margin:10px;
   border-radius:5%;
}

.tr{
   /* background-color:lightgrey; */
   text-align:center;
   margin:0 10px 5px 10px;
   border-bottom:1px solid lightgrey;
   border-radius:5%;
}


.clubName{
   font-size:20pt;
   font-weight:bold;
}
.clubName a:hover{
   font-size:20pt;
   font-weight:bold;
text-decoration:none;
color:#001eff;
border-radius:5%;
}
.th{
   font-size:14pt;
   font-weight:bold;
}
.tm{
/* height:24px;
width:auto; */
display:block;
padding:16px 0 0 0;
text-align:center;
}
.Member{
   min-height:150px; 
      display:flex;
   margin:10px 16px;
   padding:0 16px 16px 16px;
   
}
.memberThumb{
   height:50px;
   width:50px;
   border-radius:50%;
   display:block;
}
.memberNickname{
width:auto;
height:auto;
font-size:12px;
}
#viewMine{
background-color:#001eff;
color:white;
border-radius:5px;
border-style:none;
padding:5px 20px;
}

#viewMine a:hover{
color:white;
text-decoration:none;
}