body {
	padding-top: 30px;
	font-family: 'NanumSquare', sans-serif;
	margin-left: 40px;
}

a {
	color: inherit;
}

a:hover {
	text-decoration: none;
}

.Container {
	margin: 0;
	width: 1140px;
}

.Content {
	position: absolute;
	left: 25%;
	width: 70%;
	height: 100vh;
}

#tableWrapper {
	width: 85%;
	height: 415.550px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#block {
	border: 1px solid rgba(189, 186, 186, 0.829);
	border-radius: 2%;
	min-height: 443.2px;
}

#tableWrapper table {
	width: 100%;
	border-collapse: collapse;
}

#tableWrapper table th {
	text-align: center;
	background-color: grey;
	height: 19.6px;
	padding: 13px;
	background-color: #001eff;
	color: white;
}

#tableWrapper table td {
	text-align: center;
	padding: 7px;
	max-height: 17px;
}

#pageArea {
	margin: 0 auto;
	position: relative;
}

.paging {
	margin-top: 40px;
	position: absolute;
	left: 37%;
}

.paging>li {
	list-style: none;
	float: left;
	padding: 6px 1px;
}

.span {
	padding: 6px 12px;
	border: 1px solid lightgray;
}

#info, .paging>li :hover {
	text-decoration: none;
}

#keywordInput {
	display: inline;
}

.search {
	float: right;
	margin-bottom: 3px;
	margin-right: 3px;
}

#searchType {
	height: 24px;
}
li {
	list-style: none;
	float: left;
	padding: 6px;
}

#delBtn a:hover {
	color: white;
}

.clubname {
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.clubleader {
	width: 90px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.nav-item {
	font-size: 13px;
	padding: 0px;
	padding-left: 35px;
	font:NanumSquare;
}

.navbar-light .navbar-nav .nav-link {
	margin: 0;
	padding: 5px;
}

#pageArea {
	margin: 0 auto;
	position: relative;
}

.paging {
	margin-top: 40px;
	position: absolute;
	left: 40%;
}

.paging>li {
	list-style: none;
	float: left;
	padding: 6px 1px;
}

.span {
	padding: 6px 12xp;
	border: 1px solid lightgray;
}

#info, .paging>li :hover {
	text-decoration: none;
}

#keywordInput {
	display: inline;
}

.search {
	float: right;
	margin-bottom: 3px;
	margin-right: 3px;
}

#searchType {
	height: 24px;
}

#gomain{
color:white; 
font-size:12px;
padding-top:30px;
}
.infoBtn{
border:1px solid #001eff;
border-radius:5%;
background-color:white;
}
.infoBtn:hover{
border:1px solid #001eff;
border-radius:5%;
background-color:#001eff;
opacity:0.8;
color:white;
}

.infoBtn a:hover{
color:white;
}