<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.plus.mapper.BoardMapper">

	<resultMap id="boardResult" type="board">
		<id property="boardNum" column="board_num"/>
		<result property="clubNum" column="club_num"/> 
		<result property="memberNum" column="member_num"/>
		<result property="memberNickname" column="member_nickname"/>
		<result property="memberPic" column="member_pic"/>
		<result property="boardContent" column="board_content"/>
		<result property="boardPic" column="board_pic"/>
		<result property="boardRegDate" column="board_regdate"/>
	</resultMap> 
	
	
	<!--글작성  -->
 	<insert id="insertBoard">
		INSERT INTO board(club_num, member_num, board_content, board_pic, board_regdate) 
		VALUES(#{clubNum}, #{memberNum}, #{boardContent}, #{boardPic}, now())
	</insert>
	
	<!-- 작성글 확인  .. update시 사용 -->
	<select id="getBoard" resultMap="boardResult">
		<!-- 
		SELECT * FROM BOARD WHERE board_num = #{boardNum}
		 -->
		 SELECT board.*, member_nickname, member_pic 
		 FROM board 
		 JOIN member 
		 USING (member_num) WHERE board_num = #{boardNum}
	</select>
	
	<!-- 작성글 목록인데.. 이게 피드에 더 필요할 거 같아 -->
	<select id="getBoardList" resultMap="boardResult">
		SELECT member.member_num, member.member_nickname, member.member_pic, 
				board.board_num, board.board_content, board.board_pic, board.board_regdate
		FROM MEMBER 
		NATURAL JOIN BOARD <!-- 공통컬럼 member_num으로 조인가능 -->
		WHERE board.club_num = #{clubNum}
		ORDER BY board.board_num desc LIMIT 5; 
	</select>
	<!-- 
	SELECT board.*, member_nickname, member_pic FROM board JOIN member USING (member_num) WHERE club_num = #{clubNum}
	 -->
	 
	 <!-- 현재 표시된 게시글 수 계산  -->
	<select id="getContentCount" resultType="int">
    	SELECT count(*) FROM board WHERE club_num = #{clubNum}
    </select>
    
    <!-- 게시글 더보기 시 필요한 쿼리 -->
    <select id="getMoreContents" resultMap="boardResult" parameterType="java.util.HashMap">
       <!--  SELECT * FROM review WHERE club_num = #{clubNum} LIMIT #{startIndex}, 5 -->
       	SELECT member.member_num, member.member_nickname, member.member_pic, 
			board.board_num, board.board_content, board.board_pic, board.board_regdate
		FROM MEMBER 
		NATURAL JOIN BOARD <!-- 공통컬럼 member_num으로 조인가능 -->
		WHERE board.club_num = 2
		ORDER BY board.board_num desc LIMIT #{startIndex}, 5
        
    </select>
	
	
	<!-- 글 수정 -->
	<update id="updateBoard">
		UPDATE BOARD 
		SET board_content = #{boardContent},
			board_pic = #{boardPic} 
		WHERE board_num = #{boardNum};
	</update>
	 
	 <delete id="deleteBoard">
	 	DELETE FROM BOARD WHERE board_num = #{boardNum};
	 </delete>
</mapper> 